<div class="dg-menubar dg-backdrop-element" fd-tool-header-group>
    <div fd-tool-header-element ng-repeat="menuItem in menuList track by $index">
        <fd-popover compact="true">
            <fd-popover-control>
                <fd-button fd-tool-header-button compact="true" dg-label="{{ menuItem.label }}" dg-type="transparent"
                    is-menu="true" aria-label="menu button {{ menuItem.label }}" ng-click="menuClicked()">
                </fd-button>
            </fd-popover-control>
            <fd-popover-body no-arrow="true" can-scroll="isScrollable()">
                <fd-menu>
                    <fd-menu-item ng-repeat-start="item in menuItem.items track by $index" ng-if="!item.items"
                        title="{{ item.label }}" ng-click="menuItemClick(item)">
                    </fd-menu-item>
                    <fd-menu-sublist ng-if="item.items" title="{{ item.label }}" can-scroll="isScrollable(item.items)">
                        <header-submenu sublist="item.items" menu-handler="menuItemClick"></header-submenu>
                    </fd-menu-sublist>
                    <fd-menu-separator ng-if="item.divider" ng-repeat-end></fd-menu-separator>
                </fd-menu>
            </fd-popover-body>
        </fd-popover>
    </div>
</div>
