<div class="fd-object-status fd-object-status--informative fd-object-status--inverted dg-statusbar">
	<div class="dg-statusbar-message" ng-style="{'visibility': message ? 'visible':'hidden'}">
		<i class="fd-object-status__icon sap-icon--information"></i>
		<span class="fd-object-status__text">{{ message }}</span>
		<i class="fd-object-status__icon fd-object-status--link sap-icon--delete" ng-click="cleanStatusMessages()"></i>
	</div>
	<div class="dg-statusbar-error" ng-style="{'visibility': error ? 'visible':'hidden'}">
		<i class=" fd-object-status__icon sap-icon--message-warning"></i>
		<span class="fd-object-status__text">{{ error }}</span>
		<i class="fd-object-status__icon fd-object-status--link sap-icon--delete" ng-click="cleanErrorMessages()"></i>
	</div>
	<div class="dg-statusbar-caret">{{ caret }}</div>
</div>
