<div class="splitted-tabs">
    <split class="split" direction="{{direction}}" ng-transclude>
        <split-pane ng-repeat="pane in panes" size="50" min-size="100" class="split-pane" ng-transclude>
            <splitted-tabs ng-if="!!pane.panes" direction="pane.direction" panes="pane.panes" ng-transclude>
            </splitted-tabs>
            <tabs ng-if="!!pane.tabs" selected-pane="pane.selectedTab" remove-tab="onRemoveTab(pane)"
                move-tab="onMoveTab(pane)" closable="true">
                <panes>
                    <tab-pane ng-repeat="tab in pane.tabs" tab="tab">
                    </tab-pane>
                </panes>
            </tabs>
        </split-pane>
    </split>
</div>
